<div class="card bg-tarjetas  mb-3">
  <div class="card-header border-tarjetas fw-bold text-center fs-5">Proyectos</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let proyecto of listaProyectos"
        class="list-group-item bg-transparent text-white py-3"
      >
        <app-btn-editar></app-btn-editar>
        <h5 class="card-title">
          {{ proyecto.nombre }}
        </h5>
        <p class="card-text">
          {{ proyecto.informacion }}
        </p>
      </li>
    </ul>
  </div>
</div>
