<div class="card bg-tarjetas  mb-3">
  <div class="card-header border-tarjetas fw-bold text-center fs-5">Educación</div>
  <div class="card-body">
    <ul class="list-group  list-group-flush">
      <li *ngFor="let educacion of listaEducacion" class="list-group-item text-white bg-transparent  mt-1">
        <div class="row mb-3">
          <div class="col-3 my-auto">
            <img class="img-fluid" [src]="educacion.imagen" alt="">
          </div>
          <div class="col-9">
            <app-btn-editar></app-btn-editar>
            <a  [href]="educacion.link">
              <h5 class="card-title">
                {{educacion.lugar}}
              </h5>
            </a>
            <p class="card-text">
              {{educacion.informacion}}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
