.efecto-blur {
    background-color: #202023f9;
    /* background-color: #15171aea; */
}

nav > div {

    box-shadow: 0px 30px 15px -26px #000000;;
}

@supports(backdrop-filter: blur(20px)){
    .efecto-blur {
        backdrop-filter: blur(20px);

        /* background-color: #21252960;
        background-color: #c7c7c715; */
        /* background-color: #15171a60; */
        background-color: #20202360;
    }
}