.efecto-blur {
    background-color: #fafafaef;
}
nav > div {

    box-shadow: 0px 30px 15px -26px #000000;;
}

@supports(backdrop-filter: blur(20px)){
    .efecto-blur {
        backdrop-filter: blur(20px);

        background-color: #fafafa70;
    }
}