<div class="card bg-tarjetas  text-white mb-3">
  <div class="card-header fw-bold text-center fs-5">Experiencia</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li *ngFor="let experiencia of listaExperiencias" class="list-group-item bg-transparent  text-white mt-1">
        <div class="row mb-3">
          <div class="col-3 my-auto">
            <img class="img-fluid" [src]="experiencia.imagen" alt="">
          </div>
          <div class="col-9">
            <app-btn-editar></app-btn-editar>
            <h5 class="card-title">
              {{experiencia.lugar}}
            </h5>
            <p class="card-text">
              {{experiencia.informacion}}
            </p>
            
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
