---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 error" description="Pagina no encontrada">
  <div class="text-center w-full flex flex-col gap-4 pt-48">
    <h1 class="font-bold text-9xl">404</h1>
    <h2 class="text-3xl text-neutral-800 dark:text-neutral-400 text-balance">
      La página que buscas no existe o ha sido movida 😞
    </h2>
  </div>
</Layout>
