---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import HeroContainer from "../components/HeroContainer.astro";
import AboutMe from "../components/About.astro";
import Contact from "../components/Contact.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Mail from "../icons/Mail.astro";
import Profile from "../icons/Profile.astro";
import CodeIcon from "../icons/Code.astro";
import LinkButton from "../components/LinkButton.astro";
import Arrow from "../icons/ArrowUpRight.astro";
import BackgroundGradient from "../components/BackgroundGradient.astro";
import NavTabs from "../components/NavTabs.astro";
import Folder from "@/icons/Folder.astro";
import Folders from "@/icons/Folders.astro";
---

<Layout title="Portfolio" description="Desarrollador web fullstack">
  <Fragment slot="header">
    <NavTabs />
  </Fragment>
  <HeroContainer id="hero">
    <BackgroundGradient />

    <Hero />
  </HeroContainer>
  <main class="mx-2 sm:mx-4">
    <SectionContainer id="projects">
      <SectionTitle>
        <CodeIcon class="size-7 flex-shrink-0" />
        <span class="overflow-clip text-ellipsis text-nowrap"> Proyectos </span>
        <LinkButton class="ml-auto" href="/projects">
          <Arrow class="size-6" />
          <span class="hidden xs:block text-base font-normal">Ver todos</span>
        </LinkButton>
      </SectionTitle>

      <Projects />

      <LinkButton
        expand
        rounded
        class="mt-6 py-3 animation-reveal-scroll"
        href="/projects"
      >
        <Folders class="size-6" />
        <span class="text-lg">Ver más proyectos</span>
      </LinkButton>
    </SectionContainer>

    <SectionContainer id="about">
      <SectionTitle>
        <Profile class="size-8" />
        Sobre mí
      </SectionTitle>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="contact">
      <SectionTitle>
        <Mail class="size-7" />
        Contacto
      </SectionTitle>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
