---
import Tags from "./Tags.astro";
import STACK from "@/data/stack";
const personalImageAlt = "Ignacio Escudero Gonzalez";
function calculateAge(dob: Date) {
  let diffMs = Date.now() - dob.getTime();
  let ageDt = new Date(diffMs);
  return Math.abs(ageDt.getUTCFullYear() - 1970);
}

const edad = calculateAge(new Date(1999, 5, 4));
---

<article
  class="flex flex-col sm:flex-row justify-center gap-x-2 gap-y-6 text-neutral-800 dark:text-neutral-300"
>
  <div
    class="flex flex-col gap-2 [&_h6]:font-semibold [&>p>strong]:text-violet-800 dark:[&>p>strong]:text-violet-400 [&>p>strong]:font-bold text-pretty order-2 sm:order-2 animation-reveal-scroll rounded-3xl"
  >
    <div class="p-2 animation-reveal-scroll">
      <h6 class="text-lg">Mi historia</h6>
      <p>
        Mi nombre es Ignacio, tengo {edad} años y soy de Buenos Aires, Argentina.
        Antes del desarrollo de software estudié distintas carreras de diferentes
        areas, hasta que finalmente encontré mi lugar en el mundo de la programación.
      </p>

      <p class="mt-2 animation-reveal-scroll">
        En el año 2025 me gradué de <strong
          >Analista Programador Universitario</strong
        >
        en la Universidad Nacional de La Plata, y actualmente estoy estudiando una
        Licenciatura en Sistemas.
      </p>
    </div>

    <div class="p-2 animation-reveal-scroll">
      <h6 class="text-lg">Tecnologías</h6>
      <Tags tags={STACK} />
    </div>

    <div class="p-2 animation-reveal-scroll">
      <h6 class="text-lg">Hobbies</h6>
      <p>
        La música me apasiona. Disfruto tanto escuchándola como tocándola, y a
        veces incluso
        <a
          class="hover:underline text-blue-800 dark:text-blue-400"
          rel="noopener"
          target="_blank"
          href="https://soundcloud.com/nacho-escudero-g/">produciendo</a
        >! En mi tiempo libre me gusta leer, y también entrenar y hacer deporte,
        en especial el fútbol y el basket.
      </p>
    </div>
  </div>

  <div class="w-full max-w-[400px] sm:max-w-[300px] md:max-w-[270px]">
    <img
      src="/assets/foto-perfil.jpg"
      alt={personalImageAlt}
      class="w-full sm:h-1/2 md:h-3/4 lg:h-full md:self-start order-1 sm:order-1 object-cover object-bottom p-2 rounded-3xl bg-black/5 dark:bg-white/5 animation-reveal-scroll"
    />
  </div>
</article>
