---
import Tags from "./Tags.astro";
import STACK from "@/data/stack";
const personalImageAlt = "Ignacio Escudero Gonzalez";
function calculateAge(dob: Date) {
  let diffMs = Date.now() - dob.getTime();
  let ageDt = new Date(diffMs);
  return Math.abs(ageDt.getUTCFullYear() - 1970);
}

const edad = calculateAge(new Date(1999, 5, 4));
---

<article
  class="flex flex-col sm:flex-row justify-center gap-x-2 gap-y-6 text-neutral-800 dark:text-neutral-300"
>
  <div class="w-full relative max-w-[400px] sm:max-w-[300px] md:max-w-[270px]">
    <img
      src="/assets/foto-perfil.jpg"
      alt={personalImageAlt}
      class="w-full sticky top-24 sm:h-1/2 lg:h-3/4 md:self-start object-cover object-bottom p-2 rounded-3xl bg-black/5 dark:bg-white/5 animation-reveal-scroll"
    />
  </div>

  <div
    class="flex flex-col gap-2 [&_h5]:font-semibold [&>p>strong]:text-violet-800 dark:[&>p>strong]:text-violet-400 [&>p>strong]:font-bold text-pretty rounded-3xl"
  >
    <div class="p-2">
      <h5 class="text-lg animation-reveal-scroll">Mi historia</h5>
      <p class="animation-reveal-scroll">
        Mi nombre es Ignacio, tengo {edad} años y soy de Buenos Aires, Argentina.
        Antes del desarrollo de software estudié distintas carreras de diferentes
        areas, hasta que finalmente encontré mi lugar en el mundo de la programación.
      </p>

      <p class="mt-2 animation-reveal-scroll">
        En el año 2025 me gradué de <strong
          >Analista Programador Universitario</strong
        >
        en la Universidad Nacional de La Plata, y actualmente estoy estudiando una
        Licenciatura en Sistemas.
      </p>
    </div>

    <div class="p-2">
      <h5 class="text-lg animation-reveal-scroll">Tecnologías</h5>
      <div class="animation-reveal-scroll">
        <h6 class="text-sm text-neutral-700 dark:text-neutral-400">
          Stack principal
        </h6>
        <Tags tags={STACK.primary} />
      </div>
      <div class="animation-reveal-scroll">
        <h6 class="text-sm text-neutral-700 dark:text-neutral-400 mt-2">
          Conocimientos básicos
        </h6>
        <Tags tags={STACK.secondary} />
      </div>
    </div>

    <div class="p-2">
      <h5 class="text-lg animation-reveal-scroll">Hobbies</h5>
      <p class="animation-reveal-scroll">
        La música me apasiona. Disfruto escuchando, tocando, y a veces incluso
        <a
          class="hover:underline text-blue-800 dark:text-blue-400"
          rel="noopener"
          target="_blank"
          href="https://soundcloud.com/nacho-escudero-g/">produciendo</a
        >! Además en mi tiempo libre me gusta leer, entrenar y hacer deporte, en
        especial el fútbol y el basket.
      </p>
    </div>
  </div>
</article>
