---
import Tags from "./Tags.astro";
import STACK from "@/data/stack";
const personalImageAlt = "Ignacio Escudero Gonzalez";
function calculateAge(dob: Date) {
  let diffMs = Date.now() - dob.getTime();
  let ageDt = new Date(diffMs);
  return Math.abs(ageDt.getUTCFullYear() - 1970);
}

const edad = calculateAge(new Date(1999, 5, 4));
---

<article
  class="flex flex-col justify-center gap-4 text-neutral-800 dark:text-neutral-300 sm:flex-row"
>
  <div
    class="flex flex-col gap-4 [&_h6]:font-semibold [&>p>strong]:text-violet-800 dark:[&>p>strong]:text-violet-400 [&>p>strong]:font-bold text-pretty order-2 sm:order-2"
  >
    <div class="animation-reveal-scroll">
      <h6>Mi historia</h6>
      <p>
        Mi nombre es Ignacio, tengo {edad} años y soy de Buenos Aires, Argentina.
        Antes del desarrollo de software estudié carreras de distintas areas, hasta
        que finalmente encontré mi lugar en el mundo de la programación.
      </p>
    </div>

    <div class="animation-reveal-scroll">
      <p>
        En el año 2025 me gradué de <strong
          >Analista Programador Universitario</strong
        >
        en la Universidad Nacional de La Plata, y actualmente estoy estudiando una
        Licenciatura en Sistemas.
      </p>
    </div>

    <div class="animation-reveal-scroll">
      <h6>Tecnologias</h6>
      <Tags tags={STACK} />
    </div>

    <div class="animation-reveal-scroll">
      <h6>Hobbies</h6>
      <p>
        La música me apasiona. Disfruto tanto escuchándola como tocándola, y a
        veces incluso
        <a
          class="underline text-blue-600"
          rel="noopener"
          target="_blank"
          href="https://soundcloud.com/nacho-escudero-g/">produciendo</a
        >! En mi tiempo libre me gusta leer, y también entrenar y hacer deporte,
        en especial el fútbol y el basket.
      </p>
    </div>
  </div>

  <div class="w-full max-w-[400px] sm:max-w-[300px] md:max-w-[270px]">
    <img
      src="/assets/foto-perfil.jpg"
      alt={personalImageAlt}
      class="md:self-start order-1 sm:order-1 object-cover object-bottom w-full h-full p-2 rounded-3xl shadow-xl bg-black/10 dark:bg-white/10 animation-reveal-scroll"
    />
  </div>
</article>
