<a
  href="https://www.linkedin.com/in/ignacio-escudero-gonzalez/"
  target="_blank"
  rel="noopener"
  class="shadow-md inline-flex text-nowrap items-center justify-center px-3 py-1 text-sm rounded-full gap-2 transition-colors
  bg-green-100 hover:bg-green-200 dark:bg-green-950 hover:dark:bg-green-900
  text-green-600 dark:text-green-300"
>
  <span class="relative items-center flex size-2">
    <span
      class="animate-ping absolute self-center inline-flex h-2 w-2 rounded-full bg-[#51E4B8] opacity-75"
    ></span>
    <span class="relative inline-flex rounded-full size-2 bg-[#51E4B8]"></span>
  </span>

  <span class="truncate">Disponible para trabajar</span>
</a>
