---
import NavBar from "./NavBar.astro";
import SectionTabs from "./SectionTabs.astro";
---

<div
  class="fixed bottom-0 z-50 min-w-full sm:min-w-min min-h-12 sm:min-h-14 sm:hidden"
>
  <NavBar>
    <SectionTabs />
  </NavBar>
</div>
