---
const { href, expand, rounded, disabled, small, brighter, target, rel } =
  Astro.props;

const defaultClass = {
  size: "h-fit max-w-fit active:scale-95",
  padding: "px-3 py-2",
  rounded: "rounded-xl",
  cursor: "cursor-pointer",
  color:
    "text-neutral-800 bg-transparent border border-neutral-200 hover:bg-neutral-200  active:bg-neutral-300 ",
  colorDark:
    "dark:text-neutral-100 dark:border-neutral-800 dark:bg-transparent dark:hover:bg-neutral-800  dark:active:bg-neutral-900",
};

const expandClass = "w-full h-full active:scale-[.97]";
const smallClass = "px-2 py-1";
const roundedClass = "rounded-2xl";
const disabledClass =
  "pointer-events-none cursor-not-allowed bg-neutral-100 text-neutral-400 dark:bg-neutral-800/40  dark:text-neutral-700";
const brighterClass =
  "text-neutral-800 bg-white shadow  hover:bg-neutral-100 dark:text-neutral-100 dark:bg-neutral-800 dark:hover:bg-neutral-700  dark:active:bg-neutral-600";
---

<a
  href={href}
  target={target}
  rel={rel}
  class=`
  ${Astro.props.class}
  ${expand ? expandClass : defaultClass.size} 
  ${small? smallClass : defaultClass.padding} 
  ${rounded ? roundedClass : defaultClass.rounded} 
  ${disabled ? 
    disabledClass : brighter ? brighterClass : defaultClass.color + defaultClass.colorDark}
  
  relative inline-flex items-center justify-center gap-1 sm:gap-2 text-nowrap text-md sm:text-base  transition-all`
>
  <slot />
</a>
