<nav
  class="flex items-center justify-center mx-auto sm:mt-5 backdrop-blur sm:shadow-md border border-neutral-300 dark:border-neutral-900 sm:border-none text-neutral-700 dark:text-neutral-400 p-2 sm:rounded-full gap-0 sm:gap-1 bg-neutral-100 sm:bg-neutral-100/60 dark:bg-neutral-950/95 sm:dark:bg-neutral-900/70 animation-header"
>
  <slot />
</nav>
