---
const personalImageAlt = "Ignacio Escudero Gonzalez";
import Badge from "./Badge.astro";
import LinkButton from "./LinkButton.astro";
import Mail from "../icons/MailSend.astro";
import Tooltip from "./Tooltip.astro";
---

<div class="wrapper">
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>
  <div class="tracker"></div>

  <div id="profileCard">
    <img
      class="rounded-full shadow-xl p-1 mb-4 mt-2 size-48"
      src="/assets/foto-perfil.jpg"
      loading={"eager"}
      alt={personalImageAlt}
    />
    <h1 class="font-bold text-lg mb-0 text-center">
      Ignacio Escudero Gonzalez
    </h1>
    <span class="text-neutral-800 dark:text-neutral-400 mb-3"
      >Fullstack developer
    </span>
    <div class="cardFooter relative flex gap-2 items-center mt-5 z-50">
      <Badge />

      <Tooltip content="Contáctate!">
        <LinkButton
          small
          brighter
          class="shadow-md"
          rel="noopener"
          target="_blank"
          href="mailto:ignacioescuderogonzalez@gmail.com"
        >
          <span class="sr-only">Boton de contacto</span>
          <Mail class="size-5" />
        </LinkButton>
      </Tooltip>
    </div>
  </div>
</div>
<style>
  .wrapper {
    position: relative;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    margin-inline: auto;
    align-items: center;
    place-self: center;
    /* outline: 4px dotted blue; */
    animation:
      1.2s slide-right 0s both,
      1.2s fade-in 0.2s both,
      2.4s incline-topright both 1.2s ease-in-out;
  }

  #profileCard {
    @apply p-3 rounded-3xl bg-[rgb(235,235,235)] dark:bg-[#121212];
    display: flex;
    position: relative;
    flex-direction: column;
    margin-inline: auto;
    align-items: center;
    max-width: fit-content;
    height: fit-content;
    min-width: fit-content;
    /* opacity: 1; */
    z-index: 0;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateY(var(--rotateX))
      rotateX(var(--rotateY));
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    transition: transform 250ms linear;
  }

  #profileCard > * {
    transition: all 0.2s ease-in-out;
  }

  #profileCard::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    /* display: none; */
    scale: 1.1;
    filter: blur(25px);
    z-index: -10;
    background: linear-gradient(
      43deg,
      rgb(65, 88, 208) 0%,
      rgb(200, 80, 192) 46%,
      rgb(255, 204, 112) 100%
    );
    opacity: 1;
    transition: all 300ms;
    transform: translateZ(-50px);
    animation:
      /* fade-in 1s both 500ms, */
      grow 2s cubic-bezier(0, 0, 0, 1) 1.8s both,
      glow 2s ease-in 4s infinite both alternate;
  }

  #profileCard::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    /* display: none; */
    scale: 1;
    background: linear-gradient(
      43deg,
      rgb(65, 88, 208) 0%,
      rgb(200, 80, 192) 46%,
      rgb(255, 204, 112) 100%
    );
    /* @apply bg-neutral-500; */
    opacity: 0.5;
    transition: all 300ms;
    transform: translateZ(-60px);
  }

  .tracker:hover ~ #profileCard > img {
    transform: translateZ(60px);
  }

  .tracker:hover ~ #profileCard > h1 {
    transform: translateZ(40px);
  }

  .tracker:hover ~ #profileCard > span {
    transform: translateZ(40px);
  }

  .tracker:hover ~ #profileCard > .cardFooter {
    transform: translateZ(20px);
  }

  img,
  h1,
  span,
  .cardFooter {
    animation: wave ease;
    animation-duration: 0.6s;
  }

  img {
    animation-delay: 0.8s;
  }

  h1 {
    animation-delay: 0.9s;
  }
  span {
    animation-delay: 0.9s;
  }
  .cardFooter {
    animation-delay: 1s;
  }

  .tracker {
    z-index: 30;
    position: absolute;
    /* outline: green 1px solid; */
  }

  .tracker:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    inset: 0;
  }

  .tracker:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    inset: 0;
  }

  .tracker:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    inset: 0;
  }

  .tracker:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    inset: 0;
  }

  .tracker:nth-child(5) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    inset: 0;
  }

  .tracker:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    inset: 0;
  }

  .tracker:nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    inset: 0;
  }

  .tracker:nth-child(8) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    inset: 0;
  }

  .tracker:nth-child(9) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    inset: 0;
  }

  .tracker:nth-child(10) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    inset: 0;
  }

  .tracker:nth-child(11) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    inset: 0;
  }

  .tracker:nth-child(12) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    inset: 0;
  }

  .tracker:nth-child(13) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    inset: 0;
  }

  .tracker:nth-child(14) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    inset: 0;
  }

  .tracker:nth-child(15) {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    inset: 0;
  }

  .tracker:nth-child(16) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    inset: 0;
  }

  .tracker:nth-child(17) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    inset: 0;
  }

  .tracker:nth-child(18) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    inset: 0;
  }

  .tracker:nth-child(19) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    inset: 0;
  }

  .tracker:nth-child(20) {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    inset: 0;
  }

  .tracker:nth-child(21) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    inset: 0;
    bottom: 50px;
  }

  .tracker:nth-child(22) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    inset: 0;
    bottom: 50px;
  }

  .tracker:nth-child(23) {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    inset: 0;
    bottom: 50px;
  }

  .tracker:nth-child(24) {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    inset: 0;
    bottom: 50px;
  }

  .tracker:nth-child(25) {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    inset: 0;
    bottom: 50px;
  }

  .tracker:nth-child(1):hover ~ #profileCard {
    --rotateX: -25deg;
    --rotateY: 25deg;
  }

  .tracker:nth-child(2):hover ~ #profileCard {
    --rotateX: -12deg;
    --rotateY: 25deg;
  }

  .tracker:nth-child(3):hover ~ #profileCard {
    --rotateX: 0deg;
    --rotateY: 25deg;
  }

  .tracker:nth-child(4):hover ~ #profileCard {
    --rotateX: 12deg;
    --rotateY: 25deg;
  }

  .tracker:nth-child(5):hover ~ #profileCard {
    --rotateX: 25deg;
    --rotateY: 25deg;
  }

  .tracker:nth-child(6):hover ~ #profileCard {
    --rotateX: -25deg;
    --rotateY: 12deg;
  }

  .tracker:nth-child(7):hover ~ #profileCard {
    --rotateX: -12deg;
    --rotateY: 12deg;
  }

  .tracker:nth-child(8):hover ~ #profileCard {
    --rotateX: 0deg;
    --rotateY: 12deg;
  }

  .tracker:nth-child(9):hover ~ #profileCard {
    --rotateX: 12deg;
    --rotateY: 12deg;
  }

  .tracker:nth-child(10):hover ~ #profileCard {
    --rotateX: 25deg;
    --rotateY: 12deg;
  }

  .tracker:nth-child(11):hover ~ #profileCard {
    --rotateX: -25deg;
    --rotateY: 0deg;
  }

  .tracker:nth-child(12):hover ~ #profileCard {
    --rotateX: -12deg;
    --rotateY: 0deg;
  }

  .tracker:nth-child(13):hover ~ #profileCard {
    --rotateX: 0deg;
    --rotateY: 0deg;
  }

  .tracker:nth-child(14):hover ~ #profileCard {
    --rotateX: 12deg;
    --rotateY: 0deg;
  }

  .tracker:nth-child(15):hover ~ #profileCard {
    --rotateX: 25deg;
    --rotateY: 0deg;
  }

  .tracker:nth-child(16):hover ~ #profileCard {
    --rotateX: -25deg;
    --rotateY: -12deg;
  }

  .tracker:nth-child(17):hover ~ #profileCard {
    --rotateX: -12deg;
    --rotateY: -12deg;
  }

  .tracker:nth-child(18):hover ~ #profileCard {
    --rotateX: 0deg;
    --rotateY: -12deg;
  }

  .tracker:nth-child(19):hover ~ #profileCard {
    --rotateX: 12deg;
    --rotateY: -12deg;
  }

  .tracker:nth-child(20):hover ~ #profileCard {
    --rotateX: 25deg;
    --rotateY: -12deg;
  }

  .tracker:nth-child(21):hover ~ #profileCard {
    --rotateX: -25deg;
    --rotateY: -25deg;
  }

  .tracker:nth-child(22):hover ~ #profileCard {
    --rotateX: -12deg;
    --rotateY: -25deg;
  }

  .tracker:nth-child(23):hover ~ #profileCard {
    --rotateX: 0deg;
    --rotateY: -25deg;
  }

  .tracker:nth-child(24):hover ~ #profileCard {
    --rotateX: 12deg;
    --rotateY: -25deg;
  }

  .tracker:nth-child(25):hover ~ #profileCard {
    --rotateX: 25deg;
    --rotateY: -25deg;
  }

  .no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }
</style>
<!-- <script is:inline>
  document.addEventListener("astro:page-load", () => {
    const card = document.querySelector("#profileCard");
    // const cardAnimationArea = document.querySelector(".cardAnimationArea");

    card.addEventListener("mouseleave", () => {
      card.style.setProperty("--rotateY", "0deg");
      card.style.setProperty("--rotateX", "0deg");
    });

    document.addEventListener("mousemove", (event) => {
      rotateElement(event, card);
    });

    function rotateElement(event, element) {
      //get mouse position
      const x = event.clientX;
      const y = event.clientY;
      //find the middle
      const middleX = element.offsetLeft + element.offsetWidth / 2;
      const middleY = element.offsetTop + element.offsetHeight / 2;
      //find the distance from the middle to the mouse
      const distanceX = x - middleX;
      const distanceY = y - middleY;
      //calculate the rotation
      const rotateX = (distanceX / middleX) * 45;
      const rotateY = (distanceY / middleY) * 45;
      //apply the rotation
      element.style.setProperty("--rotateY", rotateX + "deg");
      element.style.setProperty("--rotateX", -1 * rotateY + "deg");
    }
  });
</script> -->
