---
import ArrowUp from "@/icons/ArrowUp.astro";
---

<button
  onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
  class="hidden md:flex fixed p-1 rounded-full bottom-10 right-10 transition-all
  hover:scale-110 active:scale-95
  text-neutral-700
   hover:text-black hover:bg-white hover:shadow
  dark:hover:text-white dark:hover:bg-white/10"
>
  <ArrowUp class="size-10" />
</button>

<style>
  button {
    animation: background-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 500px 800px;
    opacity: 0;
  }
</style>
