---
const { tags, classList } = Astro.props;
interface Tag {
  class: string;
  icon: any;
  name: string;
}
---

<ul class=`flex flex-row mt-2 gap-2 flex-wrap ${classList}`>
  {
    tags.map((tag: Tag) => (
      <li>
        <span
          class={`flex text-nowrap gap-x-2 rounded-full text-xs shadow-sm ${tag.class} py-1 px-2 `}
        >
          <tag.icon class="size-4" />
          {tag.name}
        </span>
      </li>
    ))
  }
</ul>
