---
import SunIcon from "../icons/Sun.astro";
import MoonIcon from "../icons/Moon.astro";
import Tooltip from "./Tooltip.astro";
---

<div class="relative ml-2 mr-1">
  <Tooltip content="Cambiar tema">
    <button
      id="theme-toggle-btn"
      class="appearance-none border-none flex transition-all p-1 rounded-full duration-100
      hover:scale-125 active:scale-100 hover:text-black hover:bg-white hover:shadow
      dark:hover:text-white dark:hover:bg-white/10
       focus:scale-125 focus:text-black focus:bg-white focus:shadow
      dark:focus:text-white dark:focus:bg-white/10"
      data-tooltip-target="theme-toggle-tooltip"
    >
      <span class="sr-only">Cambiar tema</span>
      <SunIcon id="light" class="theme-toggle-icon size-5 transition-all" />
      <MoonIcon id="dark" class="theme-toggle-icon size-5 transition-all" />
    </button>
  </Tooltip>
</div>

<style>
  .theme-toggle-icon {
    display: none;
  }

  .theme-toggle-icon.active {
    display: inline;
  }
</style>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }

    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const updateIcon = (themePreference) => {
    document.querySelectorAll(".theme-toggle-icon").forEach((element) => {
      element.classList.toggle("active", element.id === themePreference);
    });
  };

  const updateTheme = () => {
    const themePreference = getThemePreference();
    const isDark = themePreference === "dark";

    updateIcon(themePreference);
    document.documentElement.classList.toggle("dark", isDark);
  };

  const toggleTheme = () => {
    const currentTheme = getThemePreference();
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    localStorage.setItem("theme", newTheme);
    updateTheme();
  };

  const addToggleEventListener = () => {
    const button = document.getElementById("theme-toggle-btn");
    if (button) {
      button.addEventListener("click", toggleTheme);
    }
  };

  updateTheme();
  addToggleEventListener();

  document.addEventListener("astro:after-swap", () => {
    updateTheme();
    addToggleEventListener();
  });

  document.addEventListener("astro:page-load", () => {
    updateTheme();
    addToggleEventListener();
  });
</script>
