---
import Header from "../components/Header.astro";
import BackButton from "../components/BackButton.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";
interface Props {
  title: string;
  description: string;
}
import { ViewTransitions } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import ScrollUp from "@/components/ScrollUpButton.astro";
import TitleButton from "@/components/TitleButton.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={"/favicon.svg"} />
    <meta name="generator" content={Astro.generator} />
    <title>Ignacio Escudero • {title}</title>
    <ViewTransitions />
  </head>
  <body
    class="text-neutral-950 dark:text-neutral-50 bg-neutral-50 dark:bg-neutral-950"
  >
    <Header>
      <slot name="header">
        <BackButton />
        <TitleButton title={title} />
      </slot>
    </Header>

    <slot />

    <SpeedInsights />

    <slot name="footer">
      <Footer />
    </slot>

    <slot name="scroll-up">
      <ScrollUp />
    </slot>

    <style is:global>
      :root {
        color-scheme: light dark;
        --rotateX: 0;
        --rotateY: 0;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        display: flex;
        flex-direction: column;
        place-content: center;
        min-height: 100vh;
        --sb-size: 16px;
        --sb-thumb-color: #ccc;
        --sb-thumb-color-hover: #aaa;
        --sb-background: #fafafa;
      }

      .dark body {
        --sb-thumb-color: #333;
        --sb-thumb-color-hover: #555;
        --sb-background: #0a0a0a;
      }

      body::-webkit-scrollbar {
        width: var(--sb-size);
      }

      body::-webkit-scrollbar-track {
        background: var(--sb-background);
      }

      body::-webkit-scrollbar-thumb {
        border: 4px solid var(--sb-background);
        background: var(--sb-thumb-color);
        border-radius: 10px;
      }

      body::-webkit-scrollbar-thumb:hover {
        background: var(--sb-thumb-color-hover);
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--sb-thumb-color) var(--sb-background);
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        @media (min-width: 640px) {
          .animation-header {
            animation:
              nav-background linear both,
              reveal-down 1s cubic-bezier(0.72, 0, 0.12, 1) both;
            animation-timeline: scroll(), auto;
            animation-range:
              0 100px,
              normal;
          }
        }

        .animate-on-scroll {
          opacity: 0;
          transform: translateY(60px);
        }

        .animation-reveal {
          animation: reveal 1s cubic-bezier(0.72, 0, 0.12, 1) both;
        }

        .animation-reveal-hero {
          animation: reveal 1s cubic-bezier(0.72, 0, 0.12, 1) both;
        }

        .animation-reveal-down {
          animation: reveal-down 3s cubic-bezier(0.72, 0, 0.12, 1) both;
        }

        .animation-reveal-scroll {
          animation: reveal-scroll linear both;
          animation-timeline: view();
          animation-duration: 1ms;
          animation-range: cover 0 cover 350px;
        }

        .animation-reveal-button-scroll {
          animation: reveal 1s linear both;
          animation-timeline: scroll();
          animation-range: 500px 800px;
        }

        .animation-background-title-scroll {
          animation: background-title 1s linear both;
          animation-timeline: scroll();
          animation-range: 0 200px;
        }

        .dark .animation-background-title-scroll {
          animation: background-title-dark 1s linear both;
          animation-timeline: scroll();
          animation-range: 0 200px;
        }

        .animation-shake {
          animation: shake 1.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }

        .animation-float {
          animation: float 1s ease-in-out infinite;
        }

        .animation-delay-1 {
          animation-delay: 0.1s;
        }

        .animation-delay-2 {
          animation-delay: 0.2s;
        }

        .animation-delay-3 {
          animation-delay: 0.3s;
        }

        .animation-delay-4 {
          animation-delay: 0.4s;
        }

        .animation-delay-5 {
          animation-delay: 0.5s;
        }

        .animation-delay-6 {
          animation-delay: 0.6s;
        }

        .animation-delay-7 {
          animation-delay: 0.7s;
        }

        .animation-delay-8 {
          animation-delay: 0.8s;
        }

        .animation-delay-9 {
          animation-delay: 0.9s;
        }

        .animation-delay-10 {
          animation-delay: 1s;
        }

        @keyframes reveal-background {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        @keyframes backgroundShift {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }

        @keyframes reveal {
          0% {
            opacity: 0;
            scale: 0.9;
            transform: translateY(100px);
          }

          100% {
            scale: 1;
            transform: translateY(0);
            opacity: 1;
          }
        }

        @keyframes reveal-scroll {
          0% {
            opacity: 0;
            scale: 0.9;
            transform: translateY(60px);
          }

          100% {
            scale: 1;
            transform: translateY(0);
            opacity: 1;
          }
        }

        @keyframes reveal-down {
          from {
            opacity: 0;
            scale: 0.8;
            transform: translateY(-100px);
          }
          to {
            opacity: 1;
            scale: 1;
            transform: translateY(0);
          }
        }

        @keyframes nav-background {
          from {
            box-shadow: none;
            background-color: inherit;
          }
        }

        @keyframes fade-in {
          from {
            scale: 0;
            opacity: 0;
          }
          to {
            scale: 1;
            opacity: 1;
          }
        }

        @keyframes slide-right {
          from {
            transform: translateX(100%);
          }
          to {
            transform: translateX(0);
          }
        }

        @keyframes grow {
          from {
            opacity: 0;
            scale: 0;
          }
        }

        @keyframes glow {
          to {
            scale: 0.9;
          }
        }

        @keyframes float {
          "0%" {
            transform: "translateY(0)";
          }
          "50%" {
            transform: "translateY(-10px)";
          }
          "100%" {
            transform: "translateY(0)";
          }
        }

        @keyframes shake {
          0%,
          100% {
            transform: rotate(0deg);
            transform-origin: 50% 100%;
          }
          10% {
            transform: rotate(2deg);
          }
          20%,
          40%,
          60% {
            transform: rotate(-4deg);
          }
          30%,
          50%,
          70% {
            transform: rotate(4deg);
          }
          80% {
            transform: rotate(-2deg);
          }
          90% {
            transform: rotate(2deg);
          }
        }

        @keyframes incline-topright {
          0% {
            --rotateX: 25deg;
            --rotateY: 25deg;
          }
          100% {
            --rotateX: 0;
            --rotateY: 0;
          }
        }

        @keyframes incline-none {
          100% {
            transform-style: preserve-3d;
            transform: perspective(500px) rotateX(0) rotateY(0);
          }
        }

        @keyframes wave {
          0% {
            transform: translateZ(0);
            transform-style: preserve-3d;
          }
          50% {
            transform: translateZ(60px);
            transform-style: preserve-3d;
          }
          100% {
            transform: translateZ(0);
            transform-style: preserve-3d;
          }
        }

        @keyframes background-title {
          from {
            background: transparent;
            @apply text-neutral-700;
            @apply shadow-none;
          }
        }

        @keyframes background-title-dark {
          from {
            background: transparent;
            @apply text-neutral-400;
            @apply shadow-none;
          }
        }
      }

      .gradientText {
        @apply bg-gradient-to-r  from-red-600 to-blue-600 dark:from-red-400 dark:to-indigo-500   text-transparent bg-clip-text;
      }

      .animation-backgroundShift {
        background-size: 200%;
        background-position: left;
        animation: backgroundShift 4s infinite ease-in-out;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>

    <script
      is:inline
      src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"
    ></script>

    <script>
      document.addEventListener("astro:page-load", () => {
        //add class animation-reveal-scroll to elements that have animate-on-scroll class, with an observer
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("animation-reveal");
              }
            });
          },
          {
            threshold: 0.1,
          }
        );

        document.querySelectorAll(".animate-on-scroll").forEach((el) => {
          observer.observe(el);
        });

        //add class animation-reveal-button-scroll to elements that have animate-on-scroll class, with an observer
        // const observerButton = new IntersectionObserver(
        //   (entries) => {
        //     entries.forEach((entry) => {
        //       if (entry.isIntersecting) {
        //         entry.target.classList.add("animation-reveal-button-scroll");
        //       }
        //     });
        //   },
        //   {
        //     threshold: 0.1,
        //   }
        // );

        // document.querySelectorAll(".animate-on-scroll-button").forEach((el) => {
        //   observerButton.observe(el);
        // });
      });
    </script>
  </body>
</html>
